.g-wrap {
    background: #fff;
    -webkit-tap-highlight-color: transparent;
}

.m-tip {
    position: fixed;
    display: inline-block;
    top: 40%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    background: rgba(0, 0, 0, .5);
    font-size: 14px;
    color: #fff;
    z-index: 999;
    padding: 10px 22px;
    border-radius: 3px;
    white-space: nowrap;
    transition: opacity;
}

.m-login-container {
    background: #fff;
}

.m-login-container .m-login-header {
    height: 44px;
    line-height: 44px;
    border-bottom: 1px solid #ededed;
    padding: 0 15px;
    text-align: center;
    font-size: 18px;
    color: #595550;
}

.m-login-container .m-login-header .left {
    float: left;
}

.m-login-container .m-login-header .back {
    margin-top: 11px;
    display: block;
    height: 22px;
    width: 22px;
    background: url(/assets/mobile/images/login_v2.7/arrow-left.png?fb1cce9e) center center no-repeat;
    background-size: 9.5px 17px;
}

.m-login-container .m-login-header .right {
    float: right;
    font-size: 15px;
}

.m-login-container .m-login-content {
    padding: 0 15px;
}

.m-login-container .m-login-content .getCode-block {
    margin-top: 50px;
    position: relative;
}

.m-login-container .m-login-content .writeCode-block {
    margin-top: 20px;
    overflow: hidden;
}

.m-login-container .m-login-content .setPassword-block {
    margin-top: 50px;
    position: relative;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.m-login-container .clear-icon {
    display: block;
    position: absolute;
    right: 6px;
    top: 6px;
    width: 28px;
    height: 28px;
    background: url(/assets/mobile/images/login_v2.7/x.png?42e35005) center center no-repeat;
    background-size: 14px 14px;
}

.m-login-container .show-icon {
    display: block;
    position: absolute;
    right: 6px;
    top: 9px;
    width: 28px;
    height: 28px;
    background: url(/assets/mobile/images/login_v2.7/eye_open_ic@2x.png?2167e317) center center no-repeat;
    background-size: 20px 20px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.m-login-container .show-icon.close {
    background: url(/assets/mobile/images/login_v2.7/eye_close_ic@2x.png?960871ec) center center no-repeat;
    background-size: 20px 20px;
}

.m-login-container .m-login-content .u-input {
    display: block;
    outline: none;
    box-shadow: none;
    border: none;
    width: 100%;
    height: 40px;
    background-color: #f5f5f5;
    border-radius: 3px;
    font-size: 16px;
    line-height: 16px;
    padding: 12.5px 10px;
    box-sizing: border-box;
    color: #595550;
    margin-bottom: 15px;
}

.m-login-container .m-login-content .u-button {
    display: block;
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    line-height: 40px;
    border-radius: 3px;
    background-color: #ed6460;
    color: #fff;
    font-size: 16px;
    text-align: center;
}

.m-login-container .m-login-content .u-button.disable {
    background-color: rgba(237, 99, 95, 0.50);
}

.m-login-container .m-login-content .phone-display {
    font-size: 16px;
    color: #595550;
    line-height: 30px;
}

.m-login-container .m-login-content .code-input-block {
    font-size: 0;
    padding: 15px 0;
    overflow: hidden;
    position: relative;
}

.m-login-container .m-login-content .code-input {
    position: absolute;
    border: none;
    left: 0;
    -webkit-appearance: none;
    margin: 15px auto;
    display: block;
    width: 100%;
    height: 44px;
    line-height: 44px;
    outline: none;
    opacity: .01;
    text-size-adjust: none;
    padding: 0;
    box-sizing: content-box;
    background-clip: padding-box;
    overflow: hidden;
    cursor: auto;
}

.m-login-container .code-display {
    background: #fff;
    margin: 15px auto;
    width: 100%;
    height: 44px;
    line-height: 44px;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    background-clip: padding-box;
    font-size: 0;
}

.m-login-container .code-display li {
    display: inline-block;
    float: left;
    width: 16.66%;
    height: 44px;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #c8c8c8;
    border-right: none;
    text-align: center;
    font-size: 16px;
    vertical-align: middle;
}

.m-login-container .code-display li.last {
    border-right: 1px solid #c8c8c8;
}

.m-login-container .m-login-switch {
    margin-top: 40px;
    padding: 0 15px;
}

.m-login-container .m-login-switch .line-title {
    height: 20px;
    position: relative;
    overflow: hidden;
    zoom: 1;
}

.m-login-container .m-login-switch .line-title::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 0;
    border-top: 1px solid #ededed;
    left: 0;
    top: 10px;
    z-index: 9;
}

.m-login-container .m-login-switch .line-title h4 {
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    font-size: 14px;
    color: #c8c8c8;
    height: 20px;
    line-height: 20px;
    font-weight: normal;
    z-index: 10;
    background: #fff;
    padding: 0 5px;
}

.m-login-switch ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    margin: 20px auto;
    display: flex;
}

.m-login-switch li {
    box-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
}

.m-login-switch li a {
    position: relative;
    display: block;
    color: #807a73;
    text-align: center;
}

.m-login-switch li a span {
    display: block;
    width: 44px;
    height: 44px;
    margin: 0 auto 8px;
}

.m-login-switch li.mail span {
    background: url(/assets/mobile/images/login_v2.7/mail.png?05d79c87) no-repeat;
    background-size: 44px 44px;
    background-position: center top;
}

.m-login-switch li.weibo span {
    background: url(/assets/mobile/images/login_v2.7/weibo.png?4426e58b) no-repeat;
    background-size: 44px 44px;
    background-position: center top;
}

.m-login-switch li.tx-weibo span {
    background: url(/assets/mobile/images/login_v2.7/txweibo.png?6bb8b0a0) no-repeat;
    background-size: 44px 44px;
    background-position: center top;
}

.m-loading-mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 998;
}

.m-loading-mask .loading-bg {
    position: absolute;
    width: 100px;
    height: 40px;
    background: rgba(0, 0, 0, 0.5);
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -20px;
    border-radius: 3px;
    z-index: 1000;
}

.m-loading-mask .loading-bg .loading-icon {
    background: url(/assets/mobile/images/login_v2.7/loading.png?f0a729f8) no-repeat;
    background-size: 22px 22px;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -11px;
    margin-top: -11px;
    z-index: 1000;
    -webkit-animation: loading 2s linear infinite;
    animation: loading 2s linear infinite;
}

@-webkit-keyframes loading {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loading {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#ursLogin-block {
    height: 250px;
    background: url(http://easyread.nos.netease.com/web/trunk/1472454756051/loading.png) center center no-repeat;
}
